header
{
width: 100%;
height: 90px;
background-image:-moz-linear-gradient(80deg, #0000CC, #CCFFFF);
background-image:-webkit-linear-gradient(80deg, #0000CC, #CCFFFF);
background-image:-o-linear-gradient(80deg, #0000CC, #CCFFFF);
background-image:linear-gradient(10deg, #0000CC, #CCFFFF);
}
.title
{
position:absolute;
width: 100%;
margin-top:20px;
text-align:center;
font-size: 50px;
font-weight: bold;
color:white;
}
#logo
{
float:left;
margin-left: 30%;}
a:link ,a:active,a:visited
{ 
 text-decoration:none; 
 color: black;
} 

footer
{
width: 100%;
height: 50px;
background-image:linear-gradient(to bottom, #0000CC, white);
}

#body
{
width: 100%;
height: 660px;
background-color:blue;
}

#liste-categories, #fond-liste-appareils, #fond-etat-appareils
{
background-color: #B29200;
}




#liste-categories
{

padding: 20px;
margin-left: 30px;
margin-top:35px;
width: 38%;
height:555px;
border-radius: 30px;
border-width: 20px;
overflow: auto;
float: left;
}
.categorie
{
text-align: center;
margin: 20px;
padding: 10px;
height: 60px;
border: 3px double black;
border-radius: 15px;
width: 100px;
display: inline-block;
}

#int
{

}
#appareils-control
{
margin-top: 35px;
margin-right: 50px;
float:right;
width: 50%;
height:590px;
overflow: auto
}

#fond-liste-appareils
{
position: absolute;
float: left;
height: 590px;
width: 34%;
border-radius: 30px;
z-index: 1;
}
#liste-appareils
{
float: left;
text-align: center;
z-index:2;
position: relative;
margin-left: 25px;
width: 55%;
}
#nom-categorie-appareils, #etat
{
margin-top: 25px;
height: 30px;
}

#fond-etat-appareils
{
margin-left: 37%;
float: right;
position: absolute;
z-index:1;
width: 11%;
height: 590px;
border-radius:30px;
}

#etat-appareils
{
text-align: center;
z-index: 2;
margin-left: 80%;
width: 16%;
position: relative;
}

.appareils, .categorie
{
background-color: #CCCCB1;
}
.etat, .appareils
{
text-align: center;
height: 30px;
margin: 35px;
}
.état
{
width: 100px;
}
.int
{
margin-right: -15%;
float: right;
}